@using Moonlit.Mvc
@using Moonlit.Mvc.Html
@using Control = Moonlit.Mvc.Control
@using Form = Moonlit.Mvc.Controls.Form
@model Moonlit.Mvc.Templates.SimpleBoxTemplate

@{
    ViewBag.Title = "登录";
    ViewBag.TemplateName = "simplebox";
    Layout = "_html.cshtml";
}

<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false, liveSplitters:true" id="mainContainer">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:false, region:'top'" class="region-header">
        <div class="container" id="navbar">
            <div class="logo"></div>
            <a href="" class="logo-title">@Model.Site.Title</a>
            <div class="links">
                <a href="/">首页</a>
            </div>
        </div>
    </div>

    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
        <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false, liveSplitters:true" id="bodyContainer" class="container">

            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:false, region:'left'" style="width: 60%;">
                <div style="background:url(http://cdn.hizhanzhang.com/apps/maint/images/loginbg.jpg)" class="welcome-image"></div>
            </div>

            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">

                <form class="form-horizontal">
                    <div>请输入用户和密码登录</div>
                    @Html.Render(new Form()
                    {
                        Control = Model.Fields.Combine()
                    })
                    <div class="form-actions">
                        @foreach (Control button in Model.Buttons)
                        {
                            @Html.Render(button)
                        }
                    </div>
                    <div class="new-account">
                        @Html.Render(Model.Additional)
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

</script>
