<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:10312/testsvc" binding="netTcpBinding"
        bindingConfiguration="" contract="Moonlit.Proxy.TextFixtures.WcfClient.ITestSvc"
        name="" kind="" endpointConfiguration="" />
    </client>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="Moonlit.Proxy.TextFixtures.WcfClient.TestSvc">
        <endpoint address="net.tcp://localhost:10312/testsvc" binding="netTcpBinding"
          bindingConfiguration="" contract="Moonlit.Proxy.TextFixtures.WcfClient.ITestSvc" />
      </service>
    </services>
  </system.serviceModel>
</configuration>