@{
    Layout = "layout_administration_inner.cshtml"; 
}
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Moonlit.Mvc
@using Moonlit.Mvc.Controls
@using Moonlit.Mvc.Html
@using Control = Moonlit.Mvc.Control
@model Moonlit.Mvc.Templates.AdministrationSimpleEditTemplate

<form action="@Request.Url" method="POST">
    <div class="row">
        <div class="col-sm-12">
            @Html.Render(new Panel()
            {
                Title = Model.FormTitle,
                IsCollapsable = true,
                IsClosable = false,

                Control = new Form()
                {
                    Type = FormType.Horizontal,
                    Control = Model.Fields.Combine()
                }
            })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group">
                @foreach (Moonlit.Mvc.Control button in Model.Buttons)
                {
                    @Html.Render(button)
                }
            </div>
        </div>
    </div>
</form>