html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#simplebox-template #mainContainer {
  width: 100%;
  height: 100%;
}
#simplebox-template #navbar {
  width: 1200px;
  margin: 12px auto;
}
#simplebox-template #navbar .links {
  float: right;
}
#simplebox-template .container {
  width: 1200px!important;
  margin: 0 auto;
  margin-top: 80px;
}
#simplebox-template .form-horizontal {
  width: 180px;
}
#simplebox-template .form-horizontal .dijitTextBox {
  width: 100%;
}
#simplebox-template .region-header {
  border-bottom: solid 1px #ddd;
}
#simplebox-template form dl dt,
#simplebox-template form dl dd {
  display: block;
  margin: 0;
}