html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#simplebox-template{
    #mainContainer {
        width: 100%;
        height: 100%;
    }
    #navbar{
        width: 1200px;
        margin: 12px auto;
        .links{
            float: right;
        }
    }
    .container {
        width: 1200px!important;
        margin: 0 auto;
        margin-top: 80px;
    }  

    .form-horizontal {
        width: 180px;
        .dijitTextBox{
            width: 100%;
        }
    }  
    .region-header {
        border-bottom: solid 1px #ddd;
    }
    form {
        dl dt , dl dd {
            display: block;
            margin: 0;
        }
    }
}

