@using Moonlit.Mvc.Controls
@model Moonlit.Mvc.Controls.Link
@switch (Model.Style)
{
    case LInkStyle.Normal:
        <a href="@Model.Url" class="">
            @Model.Text
        </a>
        break;
}
