@{
    Layout = "~/Views/Shared/Templates/layout_html.cshtml";
}
<div class="area-head">
    <div class="area-inner">
        <div class="">
            <div class="brand clearfix">
                <a href="/">
                    <strong>Ngma Administration</strong>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="area-body">
    <div class="clearfix">
        <div class="area-inner">

            <div class="admin-content">
                <div class="area-left">
                    <div class="area-inner">
                        @*            @Html.Partial("Menu")*@
                        这里有菜单
                    </div>
                </div>
                <div class="area-body">
                    <div class="area-inner">
                        <div class="row">
                            <div class="page-title ">
                                <span class="page-title">这是一段描述</span>
                            </div>
                        </div>
                        @ViewBag.FlashMessage
                        @if (ViewBag.FlashMessage != null)
                        {
                            <div class="row">
                                <div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>@ViewBag.FlashMessage</div>
                            </div>
                        }
                        <div class="wrap-box">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
